.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}